<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login:</h1>
	<form action='/login' method='post'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p>{{message}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<label>Email: </label><input type="text" name="email">
		<label>Password: </label><input type="text" name="password">
		<input type="submit" name="Submit">
	</form>


	<h1>Register here if you're a NOOB:</h1>
	<form action="/success" method='post'>


		
		<label>First Name: </label><input type="text" name="firstname">
		<label>Last Name: </label><input type="text" name="lastname">
		<label>Email: </label><input type="text" name="email">
		<label>Password: </label><input type="text" name="password">
		<label>Password Conf: </label><input type="text" name="passwordconf">
		<input type="submit" name="Submit">
	</form>

</body>



</html>